### Prototype: Machine Learning Phase

# Correlations between demographic and socio-economic factors and incidence of Covid 19 infection and mortality in U.S. Counties

#### Objective
Gain a greater understanding of the relationship between race/ethnicity, gender, poverty and severe health conditions and Covid 19 morbidity and mortality.
Apply skills recently acquired via part-time Data Science course at General Assembly Australia.

#### Method
Previous project phases completed:
1. Source data on race/ethnicity, gender, poverty and severe health conditions and Covid 19 morbidity and mortality at the U.S county level
2. Clean and pre-process data according to unique identifiers
3. Conduct exploratory data analysis
4. Test hypothesis that no relationship exists between features using statistical regression (Ordinary Least Squares).

In this phase:
5. Test hypothesis that features with highest importance are <b>unable</b> to predict Covid 19 morbidity and mortality using machine learning (Random Forest).
6. Compare accuracy of Random Forest algorhythm against an alternative algorhythm.
7. Articulate conclusions and next steps.

### Data Sources
Data for this prototype was sourced and cleaned from the following sources:
1. Covid 19 Morbidity by U.S Count (USA Facts/U.S CDC, 2020): timeseries from 22/01/2020 to 31/07/2020 
2. Covide 19 Mortality by U.S. County (USA Facts/U.S. CDC, 2020): timeseries from 22/01/2020 to 31/07/2020
3. Poverty Universe, All ages, by U.S County (SAIPE, U.S Census, 2019)
4. Annual County Resident Population Estimates by Age, Sex, Race, and Hispanic Origin (U.S Census, 2019)
5. Severe COVID-19 Health Risk Index by U.S County (Policy Map/NY Times/2017 SMART-BRFSS, U.S CDC, 2017) 

### Acknowledgments
- Thanks to my instructors Andrew Worsely, Lydia Peabody, the team at General Assembly and my peers in GA Data Science June-August 2020.
- Julian Hatwell

## Model 1: Predicting Morbidity

Apply statistical insights to create and test a machine learning model where y = morbitity (cases) using Random Forest algorithm as a baseline.

### Iteration 1A: All Features Used

### Feature & Target Selection

Pre-processed data from Prototype Phase 1 imported where all population values and values for Risk Index are log-transformed.

In [1]:
import pandas as pd

all_data_4 = pd.read_csv("data/covid_data_log_200922.csv")

Input and output variable defined. Non-numerical features dropped.

In [2]:
y = all_data_4["Cases"]

X = all_data_4.drop(["Deaths", "Cases", "FIPS", "stateFIPS"
                     , "countyFIPS_2d", "County", "State", "Risk_Cat"],  axis=1)

X

,Poverty,Population,W_Male,W_Female,B_Male,B_Female,H_Male,H_Female,I_Male,I_Female,A_Male,A_Female,NH_Male,NH_Female,Risk_Index
0,10.916415,10.930765,10.651360,10.690125,9.282754,9.414913,7.903227,7.787797,5.978886,6.100319,6.588926,6.778785,4.465908,4.317488,65.42
1,12.279579,12.315976,12.162852,12.219783,9.895052,9.957739,9.734477,9.629182,7.908755,7.872455,7.756623,8.129764,5.537334,5.587249,68.39
2,9.997843,10.113992,9.465448,9.359450,9.452737,9.330787,7.552762,7.291656,5.652489,5.204007,4.844187,4.948760,4.276666,3.713572,97.09
3,9.914032,10.016548,9.777641,9.739556,8.691315,8.221210,6.944087,6.746412,5.068904,5.017280,4.276666,4.290459,3.912023,2.772589,83.36
4,10.954973,10.965194,10.912649,10.945759,7.068172,6.984716,9.092570,8.980424,6.383507,6.393591,5.446737,5.579730,4.624973,4.127134,81.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,10.650294,10.653558,10.629223,10.569443,6.719013,6.461468,9.284241,9.185330,6.781058,6.685861,6.246107,6.428105,4.574711,4.595120,10.42
3138,10.038368,10.063223,10.057410,9.980032,5.513429,5.198497,8.648923,8.525955,5.736572,5.605802,5.880533,6.350886,4.143135,3.761200,2.94
3139,9.910215,9.914724,9.888272,9.863134,5.293305,5.225747,7.938802,7.964156,5.968708,5.996452,4.812184,5.192957,3.988984,3.784190,27.13
3140,8.953511,8.962520,8.936167,8.898502,4.382027,4.043051,7.446585,7.410347,5.129899,5.288267,4.189655,4.624973,2.564949,2.564949,32.76
3141,8.794067,8.843182,8.834483,8.734077,4.465908,4.094345,6.169611,6.021023,5.351858,5.043425,4.356709,5.181784,2.079442,0.693147,33.16

### Train / Test Split

In [3]:
# train-test split
from sklearn.model_selection import train_test_split

# allocate 70% at random to training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

### Algorithm Selected

Random Forest Regressor selected due to likelihood that it handles non-normalised population data that has an extremely large range with greater efficiency, plus feature importance evaluation.

Use the features importance methods in Random Forest (out-of-bag=TRUE), look for variable importance results, test and evaluate.

In [4]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(max_depth=2, random_state=10, oob_score=True, bootstrap=True)

### Model Fitting

In [5]:
reg.fit(X_train, y_train)

RandomForestRegressor(max_depth=2, oob_score=True, random_state=10)

### Feature Importances

In [6]:
# Get numerical feature importances
importances = list(reg.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(X_train, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: B_Female             Importance: 0.65
Variable: Population           Importance: 0.15
Variable: Poverty              Importance: 0.14
Variable: B_Male               Importance: 0.03
Variable: W_Female             Importance: 0.02
Variable: W_Male               Importance: 0.01
Variable: H_Male               Importance: 0.0
Variable: H_Female             Importance: 0.0
Variable: I_Male               Importance: 0.0
Variable: I_Female             Importance: 0.0
Variable: A_Male               Importance: 0.0
Variable: A_Female             Importance: 0.0
Variable: NH_Male              Importance: 0.0
Variable: NH_Female            Importance: 0.0
Variable: Risk_Index           Importance: 0.0

### Model Evaluation

In [7]:
preds = reg.predict(X_test)

In [8]:
evaluate = pd.DataFrame({
    "actual" : y_test
    , "predicted" : preds
})

evaluate["error"] = evaluate["actual"] - evaluate["predicted"]

evaluate.head()

         actual  predicted     error
2789   7.077498   7.451604 -0.374106
2970  10.169499  12.072530 -1.903031
1064   7.591862   7.451604  0.140258
2895  10.176602   9.445719  0.730882
2989  10.948242  12.072530 -1.124289

In [9]:
import numpy as np

# Calculate the absolute errors
errors = abs(preds - y_test)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.96 degrees.

### Iteration 1B: Most Important Features Only

### Feature & Target Selection

Second model iteration guided by feature importance data from 1st Iteration. Input and output variable defined. Non-numeric features dropped.

In [10]:
all_data_5 = all_data_4.copy()

y = all_data_5["Cases"]

X = all_data_5.drop(["Deaths", "Cases", "FIPS", "stateFIPS", "countyFIPS_2d", "County"
                     , "State", "Risk_Cat", "Risk_Index", "H_Male", "H_Female", "I_Male", "I_Female"
                    , "A_Male", "A_Female", "NH_Male", "NH_Female"],  axis=1)

X

        Poverty  Population     W_Male   W_Female    B_Male  B_Female
0     10.916415   10.930765  10.651360  10.690125  9.282754  9.414913
1     12.279579   12.315976  12.162852  12.219783  9.895052  9.957739
2      9.997843   10.113992   9.465448   9.359450  9.452737  9.330787
3      9.914032   10.016548   9.777641   9.739556  8.691315  8.221210
4     10.954973   10.965194  10.912649  10.945759  7.068172  6.984716
...         ...         ...        ...        ...       ...       ...
3137  10.650294   10.653558  10.629223  10.569443  6.719013  6.461468
3138  10.038368   10.063223  10.057410   9.980032  5.513429  5.198497
3139   9.910215    9.914724   9.888272   9.863134  5.293305  5.225747
3140   8.953511    8.962520   8.936167   8.898502  4.382027  4.043051
3141   8.794067    8.843182   8.834483   8.734077  4.465908  4.094345

[3142 rows x 6 columns]

### Train / Test Split

In [11]:
# train-test split
from sklearn.model_selection import train_test_split

# allocate 70% at random to training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

Use the features importance methods in Random Forest (out-of-bag=TRUE), look for variable importance results, test and evaluate.

In [12]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(max_depth=2, random_state=10, oob_score=True, bootstrap=True)

In [13]:
reg.fit(X_train, y_train)

RandomForestRegressor(max_depth=2, oob_score=True, random_state=10)

### Feature Importance

In [14]:
# Get numerical feature importances
importances = list(reg.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(X_train, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: B_Female             Importance: 0.65
Variable: Population           Importance: 0.16
Variable: Poverty              Importance: 0.13
Variable: B_Male               Importance: 0.03
Variable: W_Female             Importance: 0.02
Variable: W_Male               Importance: 0.01

### Prediction

In [15]:
preds = reg.predict(X_test)

### Evaluation

In [16]:
evaluate = pd.DataFrame({
    "actual" : y_test
    , "predicted" : preds
})

evaluate["error"] = evaluate["actual"] - evaluate["predicted"]

evaluate.head()

         actual  predicted     error
2789   7.077498   7.451604 -0.374106
2970  10.169499  12.072530 -1.903031
1064   7.591862   7.451604  0.140258
2895  10.176602   9.445719  0.730882
2989  10.948242  12.072530 -1.124289

In [17]:
# Calculate the absolute errors
errors = abs(preds - y_test)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.96 degrees.

### Conclusion (Morbidity)

There is no difference in MAE between Model Iteration 1A and 1B. The high importance ranking of Black Females and Poverty supports advocacy that promotes universal access health care for Black women and people living in poverty as essential intervention that may contribute to the reduction of Covid 19 morbidity.

## Model 2: Predicting Mortality

Apply statistical insights to create and test a machine learning model where y = mortality (deaths) using Random Forest algorithm as a baseline.

### Iteration 2A: All Features

### Feature & Target Selection

Pre-processed data from Prototype Phase 1 imported where all population values and values for Risk Index are log-transformed.

In [18]:
all_data_6 = all_data_4.copy()

In [19]:
y = all_data_6["Deaths"]

X = all_data_6.drop(["Deaths", "FIPS", "stateFIPS"
                     , "countyFIPS_2d", "County", "State", "Risk_Cat"],  axis=1)

X

,Cases,Poverty,Population,W_Male,W_Female,B_Male,B_Female,H_Male,H_Female,I_Male,I_Female,A_Male,A_Female,NH_Male,NH_Female,Risk_Index
0,10.590264,10.916415,10.930765,10.651360,10.690125,9.282754,9.414913,7.903227,7.787797,5.978886,6.100319,6.588926,6.778785,4.465908,4.317488,65.42
1,11.251171,12.279579,12.315976,12.162852,12.219783,9.895052,9.957739,9.734477,9.629182,7.908755,7.872455,7.756623,8.129764,5.537334,5.587249,68.39
2,10.111517,9.997843,10.113992,9.465448,9.359450,9.452737,9.330787,7.552762,7.291656,5.652489,5.204007,4.844187,4.948760,4.276666,3.713572,97.09
3,9.520469,9.914032,10.016548,9.777641,9.739556,8.691315,8.221210,6.944087,6.746412,5.068904,5.017280,4.276666,4.290459,3.912023,2.772589,83.36
4,9.868430,10.954973,10.965194,10.912649,10.945759,7.068172,6.984716,9.092570,8.980424,6.383507,6.393591,5.446737,5.579730,4.624973,4.127134,81.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,8.903951,10.650294,10.653558,10.629223,10.569443,6.719013,6.461468,9.284241,9.185330,6.781058,6.685861,6.246107,6.428105,4.574711,4.595120,10.42
3138,9.534089,10.038368,10.063223,10.057410,9.980032,5.513429,5.198497,8.648923,8.525955,5.736572,5.605802,5.880533,6.350886,4.143135,3.761200,2.94
3139,9.183688,9.910215,9.914724,9.888272,9.863134,5.293305,5.225747,7.938802,7.964156,5.968708,5.996452,4.812184,5.192957,3.988984,3.784190,27.13
3140,8.040447,8.953511,8.962520,8.936167,8.898502,4.382027,4.043051,7.446585,7.410347,5.129899,5.288267,4.189655,4.624973,2.564949,2.564949,32.76
3141,4.867534,8.794067,8.843182,8.834483,8.734077,4.465908,4.094345,6.169611,6.021023,5.351858,5.043425,4.356709,5.181784,2.079442,0.693147,33.16

In [20]:
# train-test split
from sklearn.model_selection import train_test_split

# allocate 70% at random to training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

Use the features importance methods in Random Forest (out-of-bag=TRUE), look for variable importance results, test and evaluate.

In [21]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(max_depth=2, random_state=10, oob_score=True, bootstrap=True)

### Fit Training Data

In [22]:
reg.fit(X_train, y_train)

RandomForestRegressor(max_depth=2, oob_score=True, random_state=10)

### Feature Importance

In [23]:
# Get numerical feature importances
importances = list(reg.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(X_train, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Cases                Importance: 1.0
Variable: Poverty              Importance: 0.0
Variable: Population           Importance: 0.0
Variable: W_Male               Importance: 0.0
Variable: W_Female             Importance: 0.0
Variable: B_Male               Importance: 0.0
Variable: B_Female             Importance: 0.0
Variable: H_Male               Importance: 0.0
Variable: H_Female             Importance: 0.0
Variable: I_Male               Importance: 0.0
Variable: I_Female             Importance: 0.0
Variable: A_Male               Importance: 0.0
Variable: A_Female             Importance: 0.0
Variable: NH_Male              Importance: 0.0
Variable: NH_Female            Importance: 0.0
Variable: Risk_Index           Importance: 0.0

### Prediction

In [24]:
preds = reg.predict(X_test)

### Evaluation

In [25]:
evaluate = pd.DataFrame({
    "actual" : y_test
    , "predicted" : preds
})

evaluate["error"] = evaluate["actual"] - evaluate["predicted"]

evaluate.head()

        actual  predicted     error
2789  0.000000   0.957423 -0.957423
2970  5.402677   5.651417 -0.248739
1064  5.820083   1.341545  4.478537
2895  5.823046   5.651417  0.171629
2989  8.317522   7.611430  0.706092

In [26]:
# Calculate the absolute errors
errors = abs(preds - y_test)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 1.36 degrees.

### Iteration 2B: Important Features (with Cases)

### Feature & Target Selection

In [27]:
all_data_7 = all_data_4.copy()

In [28]:
y = all_data_7["Deaths"]

X = all_data_7.drop(["Deaths", "FIPS", "stateFIPS", "countyFIPS_2d", "County"
                     , "State", "Risk_Cat", "I_Male", "I_Female"
                    , "A_Male", "A_Female", "NH_Male", "NH_Female"],  axis=1)

X

,Cases,Poverty,Population,W_Male,W_Female,B_Male,B_Female,H_Male,H_Female,Risk_Index
0,10.590264,10.916415,10.930765,10.651360,10.690125,9.282754,9.414913,7.903227,7.787797,65.42
1,11.251171,12.279579,12.315976,12.162852,12.219783,9.895052,9.957739,9.734477,9.629182,68.39
2,10.111517,9.997843,10.113992,9.465448,9.359450,9.452737,9.330787,7.552762,7.291656,97.09
3,9.520469,9.914032,10.016548,9.777641,9.739556,8.691315,8.221210,6.944087,6.746412,83.36
4,9.868430,10.954973,10.965194,10.912649,10.945759,7.068172,6.984716,9.092570,8.980424,81.75
...,...,...,...,...,...,...,...,...,...,...
3137,8.903951,10.650294,10.653558,10.629223,10.569443,6.719013,6.461468,9.284241,9.185330,10.42
3138,9.534089,10.038368,10.063223,10.057410,9.980032,5.513429,5.198497,8.648923,8.525955,2.94
3139,9.183688,9.910215,9.914724,9.888272,9.863134,5.293305,5.225747,7.938802,7.964156,27.13
3140,8.040447,8.953511,8.962520,8.936167,8.898502,4.382027,4.043051,7.446585,7.410347,32.76
3141,4.867534,8.794067,8.843182,8.834483,8.734077,4.465908,4.094345,6.169611,6.021023,33.16

In [29]:
# train-test split
from sklearn.model_selection import train_test_split

# allocate 70% at random to training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

Use the features importance methods in Random Forest (out-of-bag=TRUE), look for variable importance results, test and evaluate.

In [30]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(max_depth=2, random_state=10, oob_score=True, bootstrap=True)

### Fitting Training Data

In [31]:
reg.fit(X_train, y_train)

RandomForestRegressor(max_depth=2, oob_score=True, random_state=10)

### Feature Importances

In [32]:
# Get numerical feature importances
importances = list(reg.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(X_train, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Cases                Importance: 1.0
Variable: Poverty              Importance: 0.0
Variable: Population           Importance: 0.0
Variable: W_Male               Importance: 0.0
Variable: W_Female             Importance: 0.0
Variable: B_Male               Importance: 0.0
Variable: B_Female             Importance: 0.0
Variable: H_Male               Importance: 0.0
Variable: H_Female             Importance: 0.0
Variable: Risk_Index           Importance: 0.0

### Prediction

In [33]:
preds = reg.predict(X_test)

### Evaluation

In [34]:
evaluate = pd.DataFrame({
    "actual" : y_test
    , "predicted" : preds
})

evaluate["error"] = evaluate["actual"] - evaluate["predicted"]

evaluate.head()

        actual  predicted     error
2789  0.000000   0.957423 -0.957423
2970  5.402677   5.651417 -0.248739
1064  5.820083   1.341545  4.478537
2895  5.823046   5.651417  0.171629
2989  8.317522   7.611430  0.706092

In [35]:
# Calculate the absolute errors
errors = abs(preds - y_test)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 1.36 degrees.

### Iteration 2B: Female Population Features (without cases)

### Feature & Target Selection

In [36]:
all_data_8 = all_data_4.copy()

In [37]:
y = all_data_8["Deaths"]

X = all_data_8.drop(["Cases", "Deaths", "FIPS", "stateFIPS", "countyFIPS_2d", "County"
                     , "State", "Risk_Cat", "W_Male", "B_Male", "H_Male"
                     , "I_Male", "A_Male", "NH_Male"],  axis=1)

X

,Poverty,Population,W_Female,B_Female,H_Female,I_Female,A_Female,NH_Female,Risk_Index
0,10.916415,10.930765,10.690125,9.414913,7.787797,6.100319,6.778785,4.317488,65.42
1,12.279579,12.315976,12.219783,9.957739,9.629182,7.872455,8.129764,5.587249,68.39
2,9.997843,10.113992,9.359450,9.330787,7.291656,5.204007,4.948760,3.713572,97.09
3,9.914032,10.016548,9.739556,8.221210,6.746412,5.017280,4.290459,2.772589,83.36
4,10.954973,10.965194,10.945759,6.984716,8.980424,6.393591,5.579730,4.127134,81.75
...,...,...,...,...,...,...,...,...,...
3137,10.650294,10.653558,10.569443,6.461468,9.185330,6.685861,6.428105,4.595120,10.42
3138,10.038368,10.063223,9.980032,5.198497,8.525955,5.605802,6.350886,3.761200,2.94
3139,9.910215,9.914724,9.863134,5.225747,7.964156,5.996452,5.192957,3.784190,27.13
3140,8.953511,8.962520,8.898502,4.043051,7.410347,5.288267,4.624973,2.564949,32.76
3141,8.794067,8.843182,8.734077,4.094345,6.021023,5.043425,5.181784,0.693147,33.16

In [38]:
# train-test split
from sklearn.model_selection import train_test_split

# allocate 70% at random to training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [39]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(max_depth=2, random_state=10, oob_score=True, bootstrap=True)

### Fitting Training Data

In [40]:
reg.fit(X_train, y_train)

RandomForestRegressor(max_depth=2, oob_score=True, random_state=10)

### Feature Importances

In [41]:
# Get numerical feature importances
importances = list(reg.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(X_train, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: B_Female             Importance: 0.72
Variable: Poverty              Importance: 0.13
Variable: Population           Importance: 0.12
Variable: W_Female             Importance: 0.03
Variable: H_Female             Importance: 0.0
Variable: I_Female             Importance: 0.0
Variable: A_Female             Importance: 0.0
Variable: NH_Female            Importance: 0.0
Variable: Risk_Index           Importance: 0.0

### Prediction

In [42]:
preds = reg.predict(X_test)

### Evaluation

In [43]:
evaluate = pd.DataFrame({
    "actual" : y_test
    , "predicted" : preds
})

evaluate["error"] = evaluate["actual"] - evaluate["predicted"]

evaluate.head()

        actual  predicted     error
2789  0.000000   1.015310 -1.015310
2970  5.402677   8.492784 -3.090107
1064  5.820083   1.036206  4.783877
2895  5.823046   5.340688  0.482358
2989  8.317522   8.447180 -0.129658

In [44]:
# Calculate the absolute errors
errors = abs(preds - y_test)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 1.71 degrees.

### Conclusion (Mortality)
The presence of Covid Case data diminished the importance of race, gender and poverty in this model. However, when Cases are not a constant, the importance of Black Females in determining mortality outcomes was significantly more significant than other features. Risk Index did not play an important role in the model, possibly due to the potential Poisson Distribution that was observed in Phase 2 of this project.

# Next Steps (Machine Learning)
1. Produce Mean Squared Error (MSE) metrics for all models and create a comparsion table
2. Compare model using alternative algorithms and illustrate finding using MSE metrics.
3. Test model with fresh morbitity and mortality data from the period (1 August to 30 September)
4. Present prototype and seek out peer reviewers and collaborators 
5. Replicate for other geographies.