In [1]:
import pandas as pd

In [2]:
preexisting = pd.read_csv("data/COVID_Risk_Index_Data.csv")

In [3]:
preexisting

,geo_boundary_type_id,geo_boundary_identifier,geo_boundary_definition_id,time_frame,index_raw,index_normalized,index_zscore,index_percentile,index_category
0,4,1001,54,2020,39300,0.98,0.36,65.42,Above Average
1,4,1003,54,2020,145554,0.99,0.43,68.39,Above Average
2,4,1005,54,2020,24233,1.18,1.85,97.09,High
3,4,1007,54,2020,18562,1.06,0.95,83.36,Above Average
4,4,1009,54,2020,45082,1.05,0.89,81.75,Above Average
...,...,...,...,...,...,...,...,...,...
3229,4,72151,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3230,4,72153,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3231,4,78010,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3232,4,78020,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3233,4,78030,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN

In [4]:
preexisting.columns.tolist()

['geo_boundary_type_id',
 'geo_boundary_identifier',
 'geo_boundary_definition_id',
 'time_frame',
 'index_raw',
 'index_normalized',
 'index_zscore',
 'index_percentile',
 'index_category']

In [5]:
prexisting_clean = preexisting.loc[:,["geo_boundary_identifier", "index_percentile", "index_category"]]
prexisting_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3234 entries, 0 to 3233
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   geo_boundary_identifier  3234 non-null   int64
 1   index_percentile         3234 non-null   float64
 2   index_category           3142 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 75.9+ KB

In [6]:
prexisting_clean_cut = prexisting_clean.loc[prexisting_clean['geo_boundary_identifier'] < 60000]
prexisting_clean_cut

      geo_boundary_identifier  index_percentile index_category
0                        1001             65.42  Above Average
1                        1003             68.39  Above Average
2                        1005             97.09           High
3                        1007             83.36  Above Average
4                        1009             81.75  Above Average
...                       ...               ...            ...
3138                    56037             10.42            Low
3139                    56039              2.94       Very low
3140                    56041             27.13  Below Average
3141                    56043             32.76  Below Average
3142                    56045             33.16  Below Average

[3143 rows x 3 columns]

In [11]:
prexisting_clean_cut["geo_boundary_identifier"] = prexisting_clean_cut["geo_boundary_identifier"].astype(str)
prexisting_clean_cut

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     geo_boundary_identifier  index_percentile index_category
0                       1001             65.42  Above Average
1                       1003             68.39  Above Average
2                       1005             97.09           High
3                       1007             83.36  Above Average
4                       1009             81.75  Above Average
...                      ...               ...            ...
3138                   56037             10.42            Low
3139                   56039              2.94       Very low
3140                   56041             27.13  Below Average
3141                   56043             32.76  Below Average
3142                   56045             33.16  Below Average

[3143 rows x 3 columns]

In [28]:
print(prexisting_clean_cut.dtypes)
prexisting_clean_cut['geo_boundary_identifier'] = prexisting_clean_cut['geo_boundary_identifier'].str.zfill(5)
prexisting_clean_cut['countyFIPS_2d'] = prexisting_clean_cut['geo_boundary_identifier'].str[2:5].str.zfill(3)
prexisting_clean_cut['stateFIPS_2d'] = prexisting_clean_cut['geo_boundary_identifier'].str[0:2].str.zfill(2)

geo_boundary_identifier     object
index_percentile           float64
index_category              object
countyFIPS_2d               object
stateFIPS_2d                object
dtype: object

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [30]:
# prexisting_clean_cut["geo_boundary_identifier"] = prexisting_clean_cut["geo_boundary_identifier"].astype(int)
# prexisting_clean_cut["countyFIPS_2d"] = prexisting_clean_cut["countyFIPS_2d"].astype(int)
# prexisting_clean_cut["stateFIPS_2d"] = prexisting_clean_cut["stateFIPS_2d"].astype(int
prexisting_clean_cut

,geo_boundary_identifier,index_percentile,index_category,countyFIPS_2d,stateFIPS_2d
0,01001,65.42,Above Average,001,01
1,01003,68.39,Above Average,003,01
2,01005,97.09,High,005,01
3,01007,83.36,Above Average,007,01
4,01009,81.75,Above Average,009,01
...,...,...,...,...,...
3138,56037,10.42,Low,037,56
3139,56039,2.94,Very low,039,56
3140,56041,27.13,Below Average,041,56
3141,56043,32.76,Below Average,043,56
3142,56045,33.16,Below Average,045,56

In [31]:
prexisting_clean_cut.rename(columns={'stateFIPS_2d': 'stateFIPS', 'geo_boundary_identifier': 'countyFIPS'}, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [32]:
prexisting_clean_cut.rename(columns={'stateFIP': 'stateFIPS'}, inplace=True)

In [33]:
prexisting_clean_cut

     countyFIPS  index_percentile index_category countyFIPS_2d stateFIPS
0         01001             65.42  Above Average           001        01
1         01003             68.39  Above Average           003        01
2         01005             97.09           High           005        01
3         01007             83.36  Above Average           007        01
4         01009             81.75  Above Average           009        01
...         ...               ...            ...           ...       ...
3138      56037             10.42            Low           037        56
3139      56039              2.94       Very low           039        56
3140      56041             27.13  Below Average           041        56
3141      56043             32.76  Below Average           043        56
3142      56045             33.16  Below Average           045        56

[3143 rows x 5 columns]

In [36]:
prexisting_clean_cut_csv = prexisting_clean_cut.loc[:,["countyFIPS", "stateFIPS", "countyFIPS_2d", "index_percentile", "index_category"]]
prexisting_clean_cut_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3143 entries, 0 to 3142
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   countyFIPS        3143 non-null   object
 1   stateFIPS         3143 non-null   object
 2   countyFIPS_2d     3143 non-null   object
 3   index_percentile  3143 non-null   float64
 4   index_category    3142 non-null   object
dtypes: float64(1), object(4)
memory usage: 147.3+ KB

In [35]:
prexisting_clean_cut_csv.to_csv("data/risk_clean4.csv", index=False)