In [1]:
import pandas as pd

In [2]:
preexisting = pd.read_csv("data/COVID_Risk_Index_Data.csv")

In [3]:
preexisting

,geo_boundary_type_id,geo_boundary_identifier,geo_boundary_definition_id,time_frame,index_raw,index_normalized,index_zscore,index_percentile,index_category
0,4,1001,54,2020,39300,0.98,0.36,65.42,Above Average
1,4,1003,54,2020,145554,0.99,0.43,68.39,Above Average
2,4,1005,54,2020,24233,1.18,1.85,97.09,High
3,4,1007,54,2020,18562,1.06,0.95,83.36,Above Average
4,4,1009,54,2020,45082,1.05,0.89,81.75,Above Average
...,...,...,...,...,...,...,...,...,...
3229,4,72151,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3230,4,72153,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3231,4,78010,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3232,4,78020,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3233,4,78030,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN

In [4]:
preexisting.columns.tolist()

['geo_boundary_type_id',
 'geo_boundary_identifier',
 'geo_boundary_definition_id',
 'time_frame',
 'index_raw',
 'index_normalized',
 'index_zscore',
 'index_percentile',
 'index_category']

In [5]:
prexisting_clean = preexisting.loc[:,["geo_boundary_identifier", "index_percentile", "index_category"]]
prexisting_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3234 entries, 0 to 3233
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   geo_boundary_identifier  3234 non-null   int64
 1   index_percentile         3234 non-null   float64
 2   index_category           3142 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 75.9+ KB

In [6]:
prexisting_clean_cut = prexisting_clean.loc[prexisting_clean['geo_boundary_identifier'] < 60000]
prexisting_clean_cut

      geo_boundary_identifier  index_percentile index_category
0                        1001             65.42  Above Average
1                        1003             68.39  Above Average
2                        1005             97.09           High
3                        1007             83.36  Above Average
4                        1009             81.75  Above Average
...                       ...               ...            ...
3138                    56037             10.42            Low
3139                    56039              2.94       Very low
3140                    56041             27.13  Below Average
3141                    56043             32.76  Below Average
3142                    56045             33.16  Below Average

[3143 rows x 3 columns]

In [7]:
prexisting_clean_cut["geo_boundary_identifier"] = prexisting_clean_cut["geo_boundary_identifier"].astype(str)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
print(prexisting_clean_cut.dtypes)
prexisting_clean_cut['countyFIPS_2d'] = prexisting_clean_cut['geo_boundary_identifier'].str[2:4]
prexisting_clean_cut['stateFIPS_2d'] = prexisting_clean_cut['geo_boundary_identifier'].str[0:2]

geo_boundary_identifier     object
index_percentile           float64
index_category              object
dtype: object

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
prexisting_clean_cut["geo_boundary_identifier"] = prexisting_clean_cut["geo_boundary_identifier"].astype(int)
prexisting_clean_cut["countyFIPS_2d"] = prexisting_clean_cut["countyFIPS_2d"].astype(int)
prexisting_clean_cut["stateFIPS_2d"] = prexisting_clean_cut["stateFIPS_2d"].astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
prexisting_clean_cut.rename(columns={'stateFIPS_2d': 'stateFIPS', 'geo_boundary_identifier': 'countyFIPS'}, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
prexisting_clean_cut.rename(columns={'stateFIP': 'stateFIPS'}, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [18]:
prexisting_clean_cut

      countyFIPS  index_percentile index_category  countyFIPS_2d  stateFIPS
0           1001             65.42  Above Average              1         10
1           1003             68.39  Above Average              3         10
2           1005             97.09           High              5         10
3           1007             83.36  Above Average              7         10
4           1009             81.75  Above Average              9         10
...          ...               ...            ...            ...        ...
3138       56037             10.42            Low              3         56
3139       56039              2.94       Very low              3         56
3140       56041             27.13  Below Average              4         56
3141       56043             32.76  Below Average              4         56
3142       56045             33.16  Below Average              4         56

[3143 rows x 5 columns]

In [19]:
prexisting_clean_cut_csv = prexisting_clean_cut.loc[:,["countyFIPS", "stateFIPS", "countyFIPS_2d", "index_percentile", "index_category"]]
prexisting_clean_cut_csv

      countyFIPS  stateFIPS  countyFIPS_2d  index_percentile index_category
0           1001         10              1             65.42  Above Average
1           1003         10              3             68.39  Above Average
2           1005         10              5             97.09           High
3           1007         10              7             83.36  Above Average
4           1009         10              9             81.75  Above Average
...          ...        ...            ...               ...            ...
3138       56037         56              3             10.42            Low
3139       56039         56              3              2.94       Very low
3140       56041         56              4             27.13  Below Average
3141       56043         56              4             32.76  Below Average
3142       56045         56              4             33.16  Below Average

[3143 rows x 5 columns]

In [20]:
prexisting_clean_cut_csv.to_csv("data/risk_clean3.csv", index=False)

In [ ]:
counties = pd.read_excel("data/all-geocodes-v2019.xlsx", header=4)

In [ ]:
counties_clean = counties.loc[:,["Area Name (including legal/statistical area description)"
                                , "State Code (FIPS)"
                                 , "County Code (FIPS)"]]
counties_clean

In [ ]:
counties_clean['counties_3d'] = counties_clean['County Code (FIPS)'].astype(str).str.zfill(3)

In [ ]:
counties_clean['counties_concat'] = counties_clean['State Code (FIPS)'].astype(str) + counties_clean['counties_3d']

In [ ]:
counties_clean.rename(columns={'counties_concat': 'geo_boundary_identifier'}, inplace=True)

In [ ]:
counties_clean["geo_boundary_identifier"] = counties_clean["geo_boundary_identifier"].astype(int)

In [ ]:
counties_clean = counties_clean.loc[counties_clean['counties_3d'] != "000"]
counties_clean.info()

In [ ]:
counties_clean_cut = counties_clean.loc[
    (counties_clean['geo_boundary_identifier'] < 60000) & 
    (counties_clean['State Code (FIPS)'] < 57)]

In [ ]:
counties_clean_cut

In [ ]:
merged_risk_counties = prexisting_clean_cut.merge(counties_clean_cut, on="geo_boundary_identifier", how='left', validate="1:m")

In [ ]:
merged_risk_counties.rename(
    columns={'Area Name (including legal/statistical area description)': 'County Name'
             ,'State Code (FIPS)' : 'stateFIPS'
             , 'County Code (FIPS)' : 'countyFIPS_2d'
            }, inplace=True)

In [ ]:
null_data = merged_risk_counties[merged_risk_counties.isnull().any(axis=1)]
null_data

In [ ]:
merged_risk_counties_clean = merged_risk_counties.loc[:,["stateFIPS", "countyFIPS_2d", "County Name", "index_percentile", "index_category"]]

In [ ]:
merged_risk_counties_clean.info()

In [ ]:
merged_risk_counties_clean.to_csv("data/risk_clean2.csv", index=False)

In [ ]:
duplicates = merged_risk_counties_clean[merged_risk_counties_clean.duplicated()]

In [ ]:
duplicates