REFERENCES:
1. https://usafacts.org/visualizations/coronavirus-covid-19-spread-map/

In [2]:
import pandas as pd

In [3]:
covid_cases = pd.read_csv("data/covid_confirmed_usafacts_200803.csv")

In [4]:
covid_cases.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20,8/1/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,905,921,932,942,965,974,974,1002,1015,1030
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,2461,2513,2662,2708,2770,2835,2835,3028,3101,3142
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,534,539,552,562,569,575,575,585,598,602
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,289,303,318,324,334,337,338,352,363,368

In [11]:
covid_cases_dropped = covid_cases.drop(columns=['8/1/20'])

In [12]:
covid_cases_dropped

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,886,905,921,932,942,965,974,974,1002,1015
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,2196,2461,2513,2662,2708,2770,2835,2835,3028,3101
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,518,534,539,552,562,569,575,575,585,598
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,287,289,303,318,324,334,337,338,352,363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,201,206,210,214,215,221,228,234,237,240
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,234,254,264,275,279,292,311,318,331,335
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,224,227,232,232,233,235,243,245,247,254
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,45,45,45,45,45,45,45,45,46,48
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,4,4,4,4,4,5,5,5,5,5

In [17]:
covid_cases_dropped_only = covid_cases_dropped.iloc[:,-192:]

In [18]:
covid_cases_dropped_only

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,886,905,921,932,942,965,974,974,1002,1015
2,0,0,0,0,0,0,0,0,0,0,...,2196,2461,2513,2662,2708,2770,2835,2835,3028,3101
3,0,0,0,0,0,0,0,0,0,0,...,518,534,539,552,562,569,575,575,585,598
4,0,0,0,0,0,0,0,0,0,0,...,287,289,303,318,324,334,337,338,352,363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,0,0,0,0,0,0,0,0,0,0,...,201,206,210,214,215,221,228,234,237,240
3191,0,0,0,0,0,0,0,0,0,0,...,234,254,264,275,279,292,311,318,331,335
3192,0,0,0,0,0,0,0,0,0,0,...,224,227,232,232,233,235,243,245,247,254
3193,0,0,0,0,0,0,0,0,0,0,...,45,45,45,45,45,45,45,45,46,48
3194,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,5,5,5,5,5

In [19]:
covid_cases_total = covid_cases_dropped['Total Cases']= covid_cases_dropped.iloc[:, -192:].sum(axis=1)

In [21]:
covid_cases_dropped

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20,Total Cases
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,905,921,932,942,965,974,974,1002,1015,39746
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,2461,2513,2662,2708,2770,2835,2835,3028,3101,76970
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,534,539,552,562,569,575,575,585,598,24625
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,289,303,318,324,334,337,338,352,363,13636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,206,210,214,215,221,228,234,237,240,7361
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,254,264,275,279,292,311,318,331,335,13823
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,227,232,232,233,235,243,245,247,254,9737
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,45,45,45,45,45,45,45,46,48,3104
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,4,4,4,4,5,5,5,5,5,130

In [22]:
covid_cases_filter = covid_cases_dropped.loc[:,["countyFIPS", "County Name", "State", "stateFIPS", "Total Cases"]]
covid_cases_filter

      countyFIPS            County Name State  stateFIPS  Total Cases
0              0  Statewide Unallocated    AL          1            0
1           1001         Autauga County    AL          1        39746
2           1003         Baldwin County    AL          1        76970
3           1005         Barbour County    AL          1        24625
4           1007            Bibb County    AL          1        13636
...          ...                    ...   ...        ...          ...
3190       56037      Sweetwater County    WY         56         7361
3191       56039           Teton County    WY         56        13823
3192       56041           Uinta County    WY         56         9737
3193       56043        Washakie County    WY         56         3104
3194       56045          Weston County    WY         56          130

[3195 rows x 5 columns]

In [23]:
covid_deaths = pd.read_csv("data/covid_deaths_usafacts_200803.csv")
covid_deaths

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20,7/31/20,8/1/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,21,21,21,21,21,21,21,21,21,21
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,17,18,18,18,18,18,21,21,22,22
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,4,4,4,4,4,4,4,5,5,5
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
3191,56039,Teton County,WY,56,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3192,56041,Uinta County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3193,56043,Washakie County,WY,56,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
3194,56045,Weston County,WY,56,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
covid_deaths_dropped = covid_deaths.drop(columns=['8/1/20'])

In [25]:
covid_deaths_total = covid_deaths_dropped['Total Deaths']= covid_deaths_dropped.iloc[:, -192:].sum(axis=1)

In [27]:
covid_deaths_filter = covid_deaths_dropped.loc[:,["countyFIPS", "County Name", "State", "stateFIPS", "Total Deaths"]]
covid_deaths_filter

      countyFIPS            County Name State  stateFIPS  Total Deaths
0              0  Statewide Unallocated    AL          1             0
1           1001         Autauga County    AL          1           909
2           1003         Baldwin County    AL          1           958
3           1005         Barbour County    AL          1           155
4           1007            Bibb County    AL          1           103
...          ...                    ...   ...        ...           ...
3190       56037      Sweetwater County    WY         56            34
3191       56039           Teton County    WY         56           101
3192       56041           Uinta County    WY         56             0
3193       56043        Washakie County    WY         56           291
3194       56045          Weston County    WY         56             0

[3195 rows x 5 columns]