In [1]:
import pandas as pd

In [2]:
poverty = pd.read_csv("data/allpovu.csv")

In [3]:
poverty.head()

,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages.1","Poverty Universe, Age 5-17 related.1",...,"Poverty Universe, Age 0-17.18","Poverty Universe, Age 0-4.18","Poverty Universe, All Ages.19","Poverty Universe, Age 5-17 related.19","Poverty Universe, Age 0-17.19","Poverty Universe, Age 0-4.19","Poverty Universe, All Ages.20","Poverty Universe, Age 5-17 related.20","Poverty Universe, Age 0-17.20","Poverty Universe, Age 0-4.20"
0,0,0,United States,US,319184033.0,52529919.0,72163269.0,19301529.0,317741588.0,52669201.0,...,71741141.0,19181906.0,276207757.0,51642359.0,71684956.0,18968750.0,271059449.0,51060953.0,71338364.0,19382484.0
1,1,0,Alabama,AL,4763811.0,781913.0,1069994.0,284188.0,4752519.0,790771.0,...,1104080.0,296196.0,4368014.0,804291.0,1120718.0,293558.0,4348444.0,789510.0,1088427.0,295264.0
2,1,1,Autauga County,AL,55073.0,9677.0,12987.0,NaN,55021.0,9911.0,...,12377.0,NaN,43711.0,9245.0,12507.0,NaN,43524.0,8856.0,12148.0,NaN
3,1,3,Baldwin County,AL,215255.0,34508.0,46265.0,NaN,209922.0,34058.0,...,34503.0,NaN,139273.0,25048.0,34302.0,NaN,136585.0,24609.0,33859.0,NaN
4,1,5,Barbour County,AL,21979.0,3848.0,5106.0,NaN,22224.0,3901.0,...,7148.0,NaN,26480.0,5422.0,7341.0,NaN,25482.0,5138.0,6966.0,NaN

In [4]:
poverty["State FIPS code"] = poverty["State FIPS code"].astype(str)
poverty["County FIPS code"] = poverty["County FIPS code"].astype(str)
poverty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3201 entries, 0 to 3200
Data columns (total 88 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   State FIPS code                        3201 non-null   object
 1   County FIPS code                       3201 non-null   object
 2   Name                                   3201 non-null   object
 3   State Postal Code                      3201 non-null   object
 4   Poverty Universe, All Ages             3193 non-null   float64
 5   Poverty Universe, Age 5-17 related     3193 non-null   float64
 6   Poverty Universe, Age 0-17             3193 non-null   float64
 7   Poverty Universe, Age 0-4              52 non-null     float64
 8   Poverty Universe, All Ages.1           3193 non-null   float64
 9   Poverty Universe, Age 5-17 related.1   3193 non-null   float64
 10  Poverty Universe, Age 0-17.1           3193 non-null   float64
 11  Poverty Universe, Age 0-4.1            52 non-null     float64
 12  Poverty Universe, All Ages.2           3193 non-null   float64
 13  Poverty Universe, Age 5-17 related.2   3193 non-null   float64
 14  Poverty Universe, Age 0-17.2           3193 non-null   float64
 15  Poverty Universe, Age 0-4.2            52 non-null     float64
 16  Poverty Universe, All Ages.3           3193 non-null   float64
 17  Poverty Universe, Age 5-17 related.3   3193 non-null   float64
 18  Poverty Universe, Age 0-17.3           3193 non-null   float64
 19  Poverty Universe, Age 0-4.3            52 non-null     float64
 20  Poverty Universe, All Ages.4           3193 non-null   float64
 21  Poverty Universe, Age 5-17 related.4   3193 non-null   float64
 22  Poverty Universe, Age 0-17.4           3193 non-null   float64
 23  Poverty Universe, Age 0-4.4            52 non-null     float64
 24  Poverty Universe, All Ages.5           3194 non-null   float64
 25  Poverty Universe, Age 5-17 related.5   3194 non-null   float64
 26  Poverty Universe, Age 0-17.5           3194 non-null   float64
 27  Poverty Universe, Age 0-4.5            52 non-null     float64
 28  Poverty Universe, All Ages.6           3194 non-null   float64
 29  Poverty Universe, Age 5-17 related.6   3194 non-null   float64
 30  Poverty Universe, Age 0-17.6           3194 non-null   float64
 31  Poverty Universe, Age 0-4.6            52 non-null     float64
 32  Poverty Universe, All Ages.7           3194 non-null   float64
 33  Poverty Universe, Age 5-17 related.7   3194 non-null   float64
 34  Poverty Universe, Age 0-17.7           3194 non-null   float64
 35  Poverty Universe, Age 0-4.7            52 non-null     float64
 36  Poverty Universe, All Ages.8           3194 non-null   float64
 37  Poverty Universe, Age 5-17 related.8   3194 non-null   float64
 38  Poverty Universe, Age 0-17.8           3194 non-null   float64
 39  Poverty Universe, Age 0-4.8            52 non-null     float64
 40  Poverty Universe, All Ages.9           3194 non-null   float64
 41  Poverty Universe, Age 5-17 related.9   3194 non-null   float64
 42  Poverty Universe, Age 0-17.9           3194 non-null   float64
 43  Poverty Universe, Age 0-4.9            52 non-null     float64
 44  Poverty Universe, All Ages.10          3193 non-null   float64
 45  Poverty Universe, Age 5-17 related.10  3193 non-null   float64
 46  Poverty Universe, Age 0-17.10          3193 non-null   float64
 47  Poverty Universe, Age 0-4.10           52 non-null     float64
 48  Poverty Universe, All Ages.11          3192 non-null   float64
 49  Poverty Universe, Age 5-17 related.11  3192 non-null   float64
 50  Poverty Universe, Age 0-17.11          3192 non-null   float64
 51  Poverty Universe, Age 0-4.11           52 non-null     float64
 52  Poverty Universe, All Ages.12          3192 non-null   float64
 53  Poverty Universe, Age 5-17 related.12  3192 non-null   float64
 54  Poverty Universe, Age 0-17.12          3192 non-null   float64
 55  Poverty Universe, Age 0-4.12           52 non-null     float64
 56  Poverty Universe, All Ages.13          3192 non-null   float64
 57  Poverty Universe, Age 5-17 related.13  3192 non-null   float64
 58  Poverty Universe, Age 0-17.13          3192 non-null   float64
 59  Poverty Universe, Age 0-4.13           52 non-null     float64
 60  Poverty Universe, All Ages.14          3192 non-null   float64
 61  Poverty Universe, Age 5-17 related.14  3192 non-null   float64
 62  Poverty Universe, Age 0-17.14          3192 non-null   float64
 63  Poverty Universe, Age 0-4.14           52 non-null     float64
 64  Poverty Universe, All Ages.15          3192 non-null   float64
 65  Poverty Universe, Age 5-17 related.15  3192 non-null   float64
 66  Poverty Universe, Age 0-17.15          3192 non-null   float64
 67  Poverty Universe, Age 0-4.15           52 non-null     float64
 68  Poverty Universe, All Ages.16          3192 non-null   float64
 69  Poverty Universe, Age 5-17 related.16  3192 non-null   float64
 70  Poverty Universe, Age 0-17.16          3192 non-null   float64
 71  Poverty Universe, Age 0-4.16           52 non-null     float64
 72  Poverty Universe, All Ages.17          3192 non-null   float64
 73  Poverty Universe, Age 5-17 related.17  3192 non-null   float64
 74  Poverty Universe, Age 0-17.17          3192 non-null   float64
 75  Poverty Universe, Age 0-4.17           52 non-null     float64
 76  Poverty Universe, All Ages.18          3191 non-null   float64
 77  Poverty Universe, Age 5-17 related.18  3191 non-null   float64
 78  Poverty Universe, Age 0-17.18          3191 non-null   float64
 79  Poverty Universe, Age 0-4.18           52 non-null     float64
 80  Poverty Universe, All Ages.19          3192 non-null   float64
 81  Poverty Universe, Age 5-17 related.19  3192 non-null   float64
 82  Poverty Universe, Age 0-17.19          3192 non-null   float64
 83  Poverty Universe, Age 0-4.19           52 non-null     float64
 84  Poverty Universe, All Ages.20          3192 non-null   float64
 85  Poverty Universe, Age 5-17 related.20  3192 non-null   float64
 86  Poverty Universe, Age 0-17.20          3192 non-null   float64
 87  Poverty Universe, Age 0-4.20           52 non-null     float64
dtypes: float64(84), object(4)
memory usage: 2.1+ MB

In [5]:
poverty['County FIPS code'] = poverty['County FIPS code'].astype(str).str.zfill(3)

In [6]:
poverty["countyFIPS"] = poverty["State FIPS code"] + poverty["County FIPS code"]

In [7]:
county_pov = poverty.loc[(poverty["Name"] == "Montgomery County")]

In [8]:
county_pov

,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages.1","Poverty Universe, Age 5-17 related.1",...,"Poverty Universe, Age 0-4.18","Poverty Universe, All Ages.19","Poverty Universe, Age 5-17 related.19","Poverty Universe, Age 0-17.19","Poverty Universe, Age 0-4.19","Poverty Universe, All Ages.20","Poverty Universe, Age 5-17 related.20","Poverty Universe, Age 0-17.20","Poverty Universe, Age 0-4.20",countyFIPS
52,1,101,Montgomery County,AL,216222.0,36808.0,51775.0,NaN,217404.0,37574.0,...,NaN,213875.0,40782.0,57281.0,NaN,211072.0,39657.0,55437.0,NaN,1101
168,5,097,Montgomery County,AR,8782.0,1178.0,1606.0,NaN,8779.0,1220.0,...,NaN,9170.0,1555.0,2142.0,NaN,8839.0,1494.0,2007.0,NaN,5097
505,13,209,Montgomery County,GA,8368.0,1348.0,1828.0,NaN,8322.0,1359.0,...,NaN,7537.0,1493.0,2044.0,NaN,7296.0,1498.0,2025.0,NaN,13209
681,17,135,Montgomery County,IL,26092.0,4153.0,5605.0,NaN,26261.0,4201.0,...,NaN,28237.0,5333.0,7178.0,NaN,29318.0,5940.0,7959.0,NaN,17135
770,18,107,Montgomery County,IN,37012.0,6346.0,8584.0,NaN,37184.0,6344.0,...,NaN,36726.0,7052.0,9679.0,NaN,35887.0,6324.0,9061.0,NaN,18107
878,19,137,Montgomery County,IA,9776.0,1597.0,2220.0,NaN,9916.0,1633.0,...,NaN,11642.0,2138.0,2916.0,NaN,11686.0,2148.0,2911.0,NaN,19137
972,20,125,Montgomery County,KS,30820.0,5477.0,7437.0,NaN,31258.0,5407.0,...,NaN,35593.0,6727.0,8983.0,NaN,36630.0,6917.0,9484.0,NaN,20125
1102,21,173,Montgomery County,KY,27677.0,4595.0,6429.0,NaN,27438.0,4599.0,...,NaN,22286.0,3930.0,5530.0,NaN,21736.0,4099.0,5507.0,NaN,21173
1233,24,031,Montgomery County,MD,1043190.0,176633.0,241300.0,NaN,1050411.0,178097.0,...,NaN,872813.0,161521.0,221424.0,NaN,860355.0,147948.0,206367.0,NaN,24031
1479,28,097,Montgomery County,MS,9910.0,1658.0,2249.0,NaN,10062.0,1682.0,...,NaN,12162.0,2423.0,3277.0,NaN,12489.0,2527.0,3367.0,NaN,28097
1583,29,139,Montgomery County,MO,11090.0,1823.0,2440.0,NaN,10990.0,1793.0,...,NaN,11856.0,2305.0,3020.0,NaN,12019.0,2471.0,3313.0,NaN,29139
1894,36,057,Montgomery County,NY,48556.0,7931.0,10998.0,NaN,48371.0,7884.0,...,NaN,49044.0,8887.0,12073.0,NaN,50379.0,9556.0,13216.0,NaN,36057
1990,37,123,Montgomery County,NC,26209.0,4368.0,5834.0,NaN,26465.0,4485.0,...,NaN,26005.0,4749.0,6685.0,NaN,23664.0,4733.0,6611.0,NaN,37123
2140,39,113,Montgomery County,OH,517002.0,83158.0,115209.0,NaN,516674.0,83397.0,...,NaN,548293.0,97849.0,136887.0,NaN,565798.0,98324.0,138728.0,NaN,39113
2333,42,091,Montgomery County,PA,807360.0,130536.0,175503.0,NaN,805261.0,131138.0,...,NaN,738348.0,132455.0,180723.0,NaN,722324.0,118462.0,164785.0,NaN,42091
2539,47,125,Montgomery County,TN,201329.0,37294.0,53919.0,NaN,195906.0,36335.0,...,NaN,131528.0,26414.0,38275.0,NaN,125748.0,24027.0,36517.0,NaN,47125
2742,48,339,Montgomery County,TX,586281.0,114082.0,153886.0,NaN,566099.0,110474.0,...,NaN,292869.0,62344.0,86272.0,NaN,290556.0,62480.0,85744.0,NaN,48339
2932,51,121,Montgomery County,VA,89030.0,10785.0,14988.0,NaN,89059.0,10767.0,...,NaN,75240.0,10060.0,14182.0,NaN,69984.0,10096.0,14346.0,NaN,51121

In [ ]:



counties_clean['counties_concat'] = counties_clean['State Code (FIPS)'].astype(str) + counties_clean['counties_3d']