In [1]:
import pandas as pd

In [2]:
preexisting = pd.read_csv("data/COVID_Risk_Index_Data.csv")

In [3]:
preexisting

,geo_boundary_type_id,geo_boundary_identifier,geo_boundary_definition_id,time_frame,index_raw,index_normalized,index_zscore,index_percentile,index_category
0,4,1001,54,2020,39300,0.98,0.36,65.42,Above Average
1,4,1003,54,2020,145554,0.99,0.43,68.39,Above Average
2,4,1005,54,2020,24233,1.18,1.85,97.09,High
3,4,1007,54,2020,18562,1.06,0.95,83.36,Above Average
4,4,1009,54,2020,45082,1.05,0.89,81.75,Above Average
...,...,...,...,...,...,...,...,...,...
3229,4,72151,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3230,4,72153,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3231,4,78010,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3232,4,78020,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN
3233,4,78030,54,2020,-9999,-9999.00,-9999.00,-9999.00,NaN

In [4]:
preexisting.columns.tolist()

['geo_boundary_type_id',
 'geo_boundary_identifier',
 'geo_boundary_definition_id',
 'time_frame',
 'index_raw',
 'index_normalized',
 'index_zscore',
 'index_percentile',
 'index_category']

In [5]:
prexisting_clean = preexisting.loc[:,["geo_boundary_identifier", "index_percentile", "index_category"]]
prexisting_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3234 entries, 0 to 3233
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   geo_boundary_identifier  3234 non-null   int64
 1   index_percentile         3234 non-null   float64
 2   index_category           3142 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 75.9+ KB

In [6]:
prexisting_clean_cut = prexisting_clean.loc[prexisting_clean['geo_boundary_identifier'] < 60000]
prexisting_clean_cut

      geo_boundary_identifier  index_percentile index_category
0                        1001             65.42  Above Average
1                        1003             68.39  Above Average
2                        1005             97.09           High
3                        1007             83.36  Above Average
4                        1009             81.75  Above Average
...                       ...               ...            ...
3138                    56037             10.42            Low
3139                    56039              2.94       Very low
3140                    56041             27.13  Below Average
3141                    56043             32.76  Below Average
3142                    56045             33.16  Below Average

[3143 rows x 3 columns]

In [16]:
prexisting_clean_cut["geo_boundary_identifier"] = prexisting_clean_cut["geo_boundary_identifier"].astype(str)
print(prexisting_clean_cut.dtypes)
# preexisting['countyFIPS_2d'] = preexisting['_MMSA'].str[2:4]
# preexisting['stateFIPS_2d'] = preexisting['_MMSA'].str[0:2]

geo_boundary_identifier     object
index_percentile           float64
index_category              object
dtype: object

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
counties = pd.read_excel("data/all-geocodes-v2019.xlsx", header=4)

In [8]:
counties_clean = counties.loc[:,["Area Name (including legal/statistical area description)"
                                , "State Code (FIPS)"
                                 , "County Code (FIPS)"]]
counties_clean

,Area Name (including legal/statistical area description),State Code (FIPS),County Code (FIPS)
0,United States,0,0
1,Alabama,1,0
2,Autauga County,1,1
3,Baldwin County,1,3
4,Barbour County,1,5
...,...,...,...
43841,Vega Baja Municipio,72,145
43842,Vieques Municipio,72,147
43843,Villalba Municipio,72,149
43844,Yabucoa Municipio,72,151
43845,Yauco Municipio,72,153

In [9]:
counties_clean['counties_3d'] = counties_clean['County Code (FIPS)'].astype(str).str.zfill(3)

In [10]:
counties_clean['counties_concat'] = counties_clean['State Code (FIPS)'].astype(str) + counties_clean['counties_3d']

In [11]:
counties_clean.rename(columns={'counties_concat': 'geo_boundary_identifier'}, inplace=True)

In [12]:
counties_clean["geo_boundary_identifier"] = counties_clean["geo_boundary_identifier"].astype(int)

In [13]:
counties_clean = counties_clean.loc[counties_clean['counties_3d'] != "000"]
counties_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24283 entries, 2 to 43845
Data columns (total 5 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Area Name (including legal/statistical area description)  24283 non-null  object
 1   State Code (FIPS)                                         24283 non-null  int64
 2   County Code (FIPS)                                        24283 non-null  int64
 3   counties_3d                                               24283 non-null  object
 4   geo_boundary_identifier                                   24283 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.1+ MB

In [14]:
counties_clean_cut = counties_clean.loc[
    (counties_clean['geo_boundary_identifier'] < 60000) & 
    (counties_clean['State Code (FIPS)'] < 57)]

In [15]:
counties_clean_cut

,Area Name (including legal/statistical area description),State Code (FIPS),County Code (FIPS),counties_3d,geo_boundary_identifier
2,Autauga County,1,1,001,1001
3,Baldwin County,1,3,003,1003
4,Barbour County,1,5,005,1005
5,Bibb County,1,7,007,1007
6,Blount County,1,9,009,1009
...,...,...,...,...,...
43664,Sweetwater County,56,37,037,56037
43665,Teton County,56,39,039,56039
43666,Uinta County,56,41,041,56041
43667,Washakie County,56,43,043,56043
43668,Weston County,56,45,045,56045

In [ ]:
merged_risk_counties = prexisting_clean_cut.merge(counties_clean_cut, on="geo_boundary_identifier", how='left', validate="1:m")

In [ ]:
merged_risk_counties.rename(
    columns={'Area Name (including legal/statistical area description)': 'County Name'
             ,'State Code (FIPS)' : 'stateFIPS'
             , 'County Code (FIPS)' : 'countyFIPS_2d'
            }, inplace=True)

In [ ]:
null_data = merged_risk_counties[merged_risk_counties.isnull().any(axis=1)]
null_data

In [ ]:
merged_risk_counties_clean = merged_risk_counties.loc[:,["stateFIPS", "countyFIPS_2d", "County Name", "index_percentile", "index_category"]]

In [ ]:
merged_risk_counties_clean.info()

In [ ]:
merged_risk_counties_clean.to_csv("data/risk_clean2.csv", index=False)

In [ ]:
duplicates = merged_risk_counties_clean[merged_risk_counties_clean.duplicated()]

In [ ]:
duplicates