<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv
from collections import namedtuple   # Convenient to store the data rows

In [2]:
# names of files to read from
r_filenameTSV = 'data/chipotle.tsv'

# DATA_FILE = 

# data structures to hold the data
tsv_labels = []
tsv_data = []

# read the data
with open(r_filenameTSV, 'r') as tsv_in:
    tsv_reader = csv.reader(tsv_in, delimiter='\t')

    tsv_labels = next(tsv_reader)
   
    for row in tsv_reader:
        if tsv_reader.line_num == 1:
            continue    # skip first row
        tsv_data.append(row)
    tsv_in.close()

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [3]:
# print the labels
print(tsv_labels, '\n')

# print the first 10 records
print(tsv_data[0:10],'\n')

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

[['1', '1', 'Chips and Fresh Tomato Salsa', 'NULL', '$2.39 '], ['1', '1', 'Izze', '[Clementine]', '$3.39 '], ['1', '1', 'Nantucket Nectar', '[Apple]', '$3.39 '], ['1', '1', 'Chips and Tomatillo-Green Chili Salsa', 'NULL', '$2.39 '], ['2', '2', 'Chicken Bowl', '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]', '$16.98 '], ['3', '1', 'Chicken Bowl', '[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]', '$10.98 '], ['3', '1', 'Side of Chips', 'NULL', '$1.69 '], ['4', '1', 'Steak Burrito', '[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]', '$11.75 '], ['4', '1', 'Steak Soft Tacos', '[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]', '$9.25 '], ['5', '1', 'Steak Burrito', '[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]', '$9.25 ']]

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [4]:
def col_selector(table, column_key):
    return [row[column_key] for row in table]

with open(r_filenameTSV, 'r') as tsv_in:
    reader = csv.DictReader(tsv_in, delimiter='\t')
    table = [row for row in reader]
    id_col = col_selector(table, "order_id")
    qty_col = col_selector(table, "quantity")
    item_col = col_selector(table, "item_name")
    desc_col = col_selector(table, "choice_description")
    price_col = col_selector(table, "item_price")

In [19]:
# clean qty_col value from str to int to enable sum function; save output as total_qty

qty_int = list(map(int, qty_col)) 

total_qty = sum(qty_int)

print("The sum total of all order items is: " + str(total_qty))

The sum total of all order items is: 4972

In [25]:
# clean price_col from str to int to enable sum function; save output as total_sales

price_int = list(map(int, price_col)) 

total_price = sum(price_int)

print("The sum total of all order items is: " + str(total_price))

# divide total_qty by total_sales to calculate average order price

ValueError: invalid literal for int() with base 10: '$2.39 '

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!